body{
  color: whitesmoke;
  font-family: sans-serif;
  background-color: #2b2d31;
}

.user-prof-img{
  border-radius: 20px;
  border: 10px;
  border-width: 10px;
  border-color: black;
}

/*---------------NAVBAR.JS--------------------------------------------------------------------------------------------------------------*/
.navBar {
  z-index: 1;
  background-color: #242529;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 0px solid white;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
}

.navBarBttn{
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  display: inline-block;
  border-radius: 20px;
  background-image: linear-gradient( #000000, #151517, #242426 );
  border: 3px;
  margin: 1rem;
  padding: 10px;
  text-decoration: none;
  color: #269aff;
  cursor: pointer;
  transition: all 0.5s;
}

.navBarBttn:hover{
  color: white;
  background-image: linear-gradient( #000000, #151517, blue );
}

.homeBttn{
  font-family: 'Russo One', sans-serif;
  position: absolute;
  left: 8%;
  top: 25%;
  font-size: 2em;
  color: #269aff;
  text-decoration: none;
}

a#loginBttn{
  position: absolute;
  left: 90%;
  top: 10%;
}

a#signupBttn{
  position: absolute;
  left: 80%;
  top: 10%;
}

button#logoutBttn{
  position: absolute;
  left: 90%;
  top: 10%;
}

#userGreeting{
  position: absolute;
  left: 80%;
  top: 25%;
}

#userPFP{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 87%;
  top: 30%;
}

.searchIcon{
  position:absolute;
  font-size: 25px;
  left: 76%;
  top: 35%;
  cursor: pointer;
}

/*------------HOME.JS----------------------------------------------------------------------------------------------------------*/
.home{
  position: absolute;
  margin-top: 100px;
  left: 10%;
  right: 10%;
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #269aff;
  text-decoration: none;
  background-color: #242529;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
}

#homepage-latest-reviews{
  text-decoration: underline;
}

.review-list{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  left: 10%;
  right: 10%;
  min-width: 400px;
}

.review-card{
    text-decoration: none;
    margin: 10px;
    min-width: 400px;
    min-height: 100px;
    max-height: 150px;
    padding: 25px;
    color: whitesmoke;
    background: #242529;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
    transition: transform .2s;
}

.review-card:hover{
  background-color: #1f2121;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.review-card-title{
  position: relative;
  color: #269aff;
  font-size: x-large;
  text-align: center;
  bottom: 30px;
}

.review-card-score{
  position: relative;
  color: #269aff;
  font-size: 3em;
  bottom: 50px;
  left: 25px;
}

.topic{
  position: relative;
  font-size: larger;
  left: 100px; 
  bottom: 160px;
}

#By{
  position: relative;
  left: 100px; 
  bottom: 170px;
}

#review-card-prof-img{
  position: relative;
  left: 110px; 
  bottom: 163px;
}

.review-card-username{
  position: relative;
  color: #898a8c;
  left: 120px; 
  bottom: 170px;
}

.review-card-comments{
  position: relative;
  color: #898a8c;
  left: 100px; 
  bottom: 170px;
}



/*--------------LOGIN-&-SIGNUP-FORM--------------------------------------------------------------------------------------------*/

.form{
  color: whitesmoke;
  border-radius: 5px;
  background-color: #242529;
  padding: 20px;
  margin: 10% 30% 10% 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
}

.login-h1, .signup-h2{
  text-align: center;
  color: #269aff;
  font-family: 'Russo one', sans-serif;
}

.form input, textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-width: 1px;
  border-color: white;
  background-color: #2f3030;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
}

.form textarea{
  height: 100px;
}

.form label{
  display: block;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
}

.form input[type="submit"]{
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 900;
  border-radius: 20px;
  background-image: linear-gradient( #000000, #151517, #242426 );
  border: 3px;
  padding: 10px;
  text-decoration: none;
  color: #269aff;
  cursor: pointer;
  transition: all 0.5s;
}

.form input[type="submit"]:hover{
  color: white;
  background-image: linear-gradient( #000000, #151517, blue );
}

/*-------------REVIEWS--------------------------------------------------------------------------------------------*/

.review-details{
  width: 55em;
  text-align: left;
  font-size: 20px;
  background-color: #242529;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
}

.body-paragraph{
  line-height: 1.5em;
}

.score {
  color: #269aff;
  font-weight: bold;
  transform: rotate(-45deg);
}

.username{
  color: #269aff;
}

#review-detail-user-img{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}

#review-detail-username{
  display: inline-block;
  margin-left: 10px;
}

/*----------------COMMENT-SECTION------------------------------------------------------------------------------*/
#text-comments{
  margin-top: 50px;
  border-style: solid;
  border-width: thin;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 25px;
}

#user-post{
  color: white;
  font-family: sans-serif;
  margin-bottom: 5px;
  height: 2em;
  width: 672px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  border-color: white;
  background-color: #242529;
}

#comment-form{
  margin-bottom:15px;
  margin-top: 10px;
}

.cancel-post{
  position: relative;
  left: 32em;
}

#cancel-comment{
  margin-right: 5px;
  padding-top: 5px;
  font-size: 14px;
}

#post-comment{
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient( #000000, #151517, #242426 );
    border: 3px;
    padding: 10px;
    text-decoration: none;
    color: #269aff;
    cursor: pointer;
    transition: all 0.6s;
}

#cancel-comment:hover{
  cursor: pointer;
}

#post-comment:hover{
  cursor: pointer;
  color: white;
  background-image: linear-gradient( #000000, #151517, #269aff);
}

.comment-section{
  font-size: 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 500px;
}

.comment{
  width: 660px;
}

.comment-body{
  font-weight: 100;
  font-size: 15px;
}

.comment-username{
  color: #269aff;
}

/*------SEARCH----------------------------------------------------------------------------------*/

.search-form{
  margin-left: 8%;
  min-width: 25em;
}

.searchbar{
  background-color: #242529;
  color: white;
  font-family: sans-serif;
  margin-top: 20px;
  height: 2em;
  width: 50em;
  min-width: 25em;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
  border-color: white;
}

.searchbar:focus {
  background-color: #1f2121;
}

.search-bttn{
  background-color: #2f3030;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-right: 20px;
  border-color: white;
  
}

.result-cards{
  text-decoration: none;
  margin: 10px;
  width: 225px;
  max-height: 400px;
  padding: 25px;
  color: whitesmoke;
  background: #242529;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  transition: transform .2s;
}
.result-cards:hover{
  background-color: #1f2121;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.result-img{
  display: block;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.result-list{
  position: absolute;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  left: 10%;
  right: 10%;
}

.results-link{
  text-decoration: none;
  color: white;
}

.cancel-search:hover{
  cursor: pointer;
}

.cancel-search:active{
  color: #898a8c;
}

/*-----------------RESULT-DETAILS----------------------------------------------------------------------------------------------------------*/

  .game-details{
    position: absolute;
    margin-top: 100px;
    left: 10%;
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #242529;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  }

  .related-reviews{
    margin-top: 50px;
    border-style: solid;
    border-width: thin;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-top: 50px;
  }

  #reviews-for-this-game{
    padding-bottom: 60px;
    text-decoration: underline;
    color: #269aff;
  }

  .asso-review-cards{ 
    text-decoration: none;
    margin: 10px;
    margin-bottom: 15px;
    width: 500px;
    max-height: 150px;
    padding: 25px;
    color: whitesmoke;
    background: #242529;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
    transition: transform .2s;
  }

  .asso-link{
    text-decoration: none;
  }

  .asso-review-cards:hover{
    background-color: #1f2121;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }

  .selected-game{
    margin: 10px;
    width: 500px;
    padding: 25px;
    padding-right: 100px;
    padding-left: 100px;
    color: whitesmoke;
    background: #242529;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  }

  .selected-game img{
    display: block;
    text-align: center;
    max-width: 500px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
  }

  #game-title{
    color: #269aff;;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 10px;
    margin-top: 0px;
  }

  #createReviewBttn{
    margin-left: 0px;
  }

  /*--------------NEW-REVIEW-FORM------------------------------------------------------------------------------------*/
  .new-review-div{
    width: 55em;
    text-align: left;
    font-size: 20px;
    background-color: #242529;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  }

  #submit-review{
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient( #000000, #151517, #242426 );
    border: 3px;
    margin: 1rem;
    padding: 10px;
    text-decoration: none;
    color: #269aff;;
    cursor: pointer;
    transition: all 0.5s;
  }

  #submit-review:hover{
    color: white;
    background-image: linear-gradient( #000000, #151517, blue );
  }

  .new-review-title{
    color: white;
    font-size: xx-large;
    background-color: #242529;
    border-radius: 5px;
    margin-right: 20px;
    border-width: 1px;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .new-review-score{
    color: white;
    background-color: #242529;
    font-size: xx-large;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  div#random-div{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 1100px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  }

  /*--------USER-PAGE------------------------------------------------------------------------------------------*/

  .user-page{
    position: absolute;
    margin-top: 100px;
    left: 10%;
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #242529;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  }

  .my-profile{
    margin: 10px;
    width: 500px;
    padding: 25px;
    padding-right: 100px;
    padding-left: 100px;
    color: whitesmoke;
    background: #242529;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  }

  #my-prof-img{
    max-width: 200px;
  }

  .update-bttn{
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient( #000000, #151517, #242426 );
    border: 3px;
    margin: 1rem;
    padding: 10px;
    text-decoration: none;
    color: #e3db44;
    cursor: pointer;
    transition: all 0.6s;
  }

  .update-bttn:hover{
    color: white;
    background-image: linear-gradient( #000000, #151517, yellow );
  }

  /*-------MY-REVIEWS------------------------------------------------------------------------------------------*/

  .my-review-list{
    margin-top: 40px;
  }

  .my-review-card-div{
    margin: 1px;
    width: 500px;
    max-height: 150px;
    padding: 25px;
    color: whitesmoke;
    background: #242529;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
    transition: transform .2s;
  }

  .my-review-card-link{
    text-decoration: none;
    color: white;
    transition: transform .2s;
  }
  
  .my-review-card-div:hover{
    background-color: #1f2121;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }

  #my-profile-text{
    font-size: 3em;
    text-decoration: underline;
    border: 3px;
    color: #269aff;;
  }

  #my-reviews-text{
    text-decoration: underline;
    color: #269aff;;
  }

  .delReview{
    position: relative;
    left:80%; 
    bottom: 150px;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient( #000000, #151517, #242426 );
    border: 3px;
    margin: 1rem;
    padding: 10px;
    text-decoration: none;
    color: #b00404;
    cursor: pointer;
    transition: all 0.5s;
  }

  .delReview:hover{
    color: white;
    background-image: linear-gradient( #000000, #151517, red );
    cursor: pointer;
  }

/*----------UPDATE-USER-----------------------------------------------------------------------------------------*/

.update-user-form{
  font-family: sans-serif;
  color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  /* margin: 0% 0% 0% 0%; */
}

.update-user-form input, textarea{
  display: block;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border-width: 1px;
  border-color: white;
  background-color: #2f3030;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
}

.update-user-form textarea{
  height: 100px;
}

.update-user-form input[type="submit"]{
  display: inline-block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 900;
  border-radius: 20px;
  background-image: linear-gradient( #000000, #151517, #242426 );
  border: 3px;
  padding: 10px;
  text-decoration: none;
  color: #269aff;
  cursor: pointer;
  width: 100px;
  transition: all 0.5s;
}

.update-user-form input[type="submit"]:hover{
  color: white;
  background-image: linear-gradient( #000000, #151517, blue );
}

.cancel-bttn{
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 900;
  background-color: #242529;
  border-color: white;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-width: 3px;
  padding: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
} 

.cancel-bttn:hover{
  color: grey;
  border-color: grey;
}

#cancel-update-user{
  display: inline-block;
  margin-left: 27%;
  margin-right: 10px;
}