body{
  color: whitesmoke;
  font-family: sans-serif;
  background-color: #414142;
}

/*---------------NAVBAR.JS--------------------------------------------------------------------------------------------------------------*/
.navBar {
  z-index: 1;
  background-color: #2f3030;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 0px solid white;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
}

.navBarBttn{
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  display: inline-block;
  background-color: #2f3030;
  border: 3px;
  border-color: rgb(1, 82, 204); /*need to make this appear */
  margin: 1rem;
  padding: 10px;
  text-decoration: none;
  color:#2872c7;
  cursor: pointer;
}

.homeBttn{
  position: absolute;
  left: 10%;
  top: 25%;
  font-size: 2em;
  font-family: sans-serif;
  color:#2872c7;
  text-decoration: none;
}

a#loginBttn{
  position: absolute;
  left: 90%;
  top: 10%;
}

a#signupBttn{
  position: absolute;
  left: 80%;
  top: 10%;
}

button#logoutBttn{
  position: absolute;
  left: 90%;
  top: 10%;
}

#userGreeting{
  position: absolute;
  left: 80%;
  top: 25%;
}

#userPFP{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 87%;
  top: 30%;
}

.searchIcon{
  position:absolute;
  font-size: 25px;
  left: 76%;
  top: 35%;
  cursor: pointer;
}

/*------------HOME.JS----------------------------------------------------------------------------------------------------------*/

.review-list{
  position: absolute;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  left: 30%;
}

.review-card{
  text-decoration: none;
  margin: 10px;
  width: 500px;
  padding: 25px;
  color: whitesmoke;
  background: #2f3030;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  transition: transform .2s;
}

.review-card:hover{
  background-color: #1f2121;
}

/*---------------FORMS--------------------------------------------------------------------------------------------*/

.form{
  color: whitesmoke;
  border-radius: 5px;
  background-color: #2f3030;
  padding: 20px;
  margin: 10% 30% 10% 30%;
}

/*-------------REVIEWS--------------------------------------------------------------------------------------------*/

.review-details{
  width: 55em;
  text-align: left;
  font-size: 20px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.body-paragraph{
  line-height: 1.5em;
}

/*----------------COMMENT-SECTION------------------------------------------------------------------------------*/

.comment-section{
  font-size: 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 500px;
}

/* .user-post{

} */

/*------SEARCH----------------------------------------------------------------------------------*/

.search-form{
  margin-left: 8%;
}

.searchbar{
  background-color: #2f3030;
  color: white;
  font-family: sans-serif;
  margin-top: 20px;
  height: 2em;
  width: 50em;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
  border-color: white;
}

.searchbar:focus {
  background-color: #1f2121;
}

.search-bttn{
  background-color: #2f3030;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-right: 20px;
  border-color: white;
  
}

.result-cards{
  text-decoration: none;
  margin: 10px;
  width: 500px;
  padding: 25px;
  color: whitesmoke;
  background: #2f3030;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  transition: transform .2s;
}
.result-cards:hover{
  background-color: #1f2121;
}

.result-list{
  position: absolute;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  left: 30%;
}

/*-----------------RESULT-DETAILS----------------------------------------------------------------------------------------------------------*/

  .game-details{
    position: absolute;
    margin-top: 200px;
    left: 20%;
    padding: 200px;
    background-color: #2f3030;
  }